<!-- src/app/views/dashboard.html -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <title>Dashboard - Autopass</title>
    <link rel="stylesheet" href="/src/assets/styles/colors.css" />
</head>

<body>
    <header>
        <h1>Agenda de Hoje</h1>
        <button onclick="logout()">Sair</button>
    </header>

    <section id="appointments">
        <p>Carregando agendamentos...</p>
    </section>

    <script type="module" src="/src/scripts/dashboard.js"></script>
</body>

</html>